<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khrushevka web control panel</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/sse.js"></script>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
            margin-left: auto;
            margin-right: auto;
        }

        th,
        td {
            padding: 0px;
            text-align: left;
        }

        #main {
            display: flex;
        }

        #left,
        #frontback,
        #front,
        #back,
        #right {
            margin: 2px;
            width: fit-content;
            margin-top: auto;
            margin-bottom: auto;
        }

        #front {
            margin-bottom: 6px;
        }

        .wall-off {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./static/wall.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .wall-on {
            background-image: linear-gradient(rgba(249, 233, 4, 0.4), rgba(249, 233, 4, 0.4)), url("./static/wall.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }


        .entrance-off {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./static/entrance.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .entrance-on {
            background-image: linear-gradient(rgba(249, 233, 4, 0.4), rgba(249, 233, 4, 0.4)), url("./static/entrance.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .nomanland-off {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./static/nomanland.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .nomanland-on {
            background-image: linear-gradient(rgba(249, 233, 4, 0.4), rgba(249, 233, 4, 0.4)), url("./static/nomanland.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .short-off {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./static/short.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .short-on {
            background-image: linear-gradient(rgba(249, 233, 4, 0.4), rgba(249, 233, 4, 0.4)), url("./static/short.png");
            width: 50px;
            height: 50px;
            background-size: 100%;
        }

        .long-off {
            background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("./static/long.png");
            width: 80px;
            height: 50px;
            background-size: 100%;
        }

        .long-on {
            background-image: linear-gradient(rgba(249, 233, 4, 0.4), rgba(249, 233, 4, 0.4)), url("./static/long.png");
            width: 80px;
            height: 50px;
            background-size: 100%;
        }
    </style>

</head>

<body>
    <h1>Khrushevka web control panel</h1>
    <div id="main" hx-ext="sse" sse-connect="/events?stream=lights">
        <div style="width: 20%;">
            <h3>Select mode:</h2>
            <div  hx-put="/flows" hx-include="this" >
                {{ template "flows.gotmpl" .Flows }}
            </div>

        </div>
        <div id="left">
            <table>
                {{ range .Left}}
                <tr>
                    {{ range .}}
                    <td>
                        <div {{if .Addr.Pin }} sse-swap="{{ .ID }}" hx-target="#{{.ID }}" {{ end }}> </div>
                        <div {{if .Addr.Pin }} hx-post="/lights/set" hx-include="this" {{ end }}>
                            {{ template "light.gotmpl" .}}
                        </div>
                    </td>
                    {{ end }}
                </tr>
                {{ end }}
            </table>
        </div>
        <div id="frontback">
            <div id="front">
                <table>
                    {{ range .Front}}
                    <tr>
                        {{ range .}}
                        <td>
                            <div {{if .Addr.Pin }} sse-swap="{{ .ID }}" hx-target="#{{.ID }}" {{ end }}> </div>
                            <div {{if .Addr.Pin }} hx-post="/lights/set" hx-include="this" {{ end }}>
                                {{ template "light.gotmpl" .}}
                            </div>
                        </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </table>
            </div>
            <div id="back">
                <table>
                    {{ range .Back}}
                    <tr>
                        {{ range .}}
                        <td>
                            <div {{if .Addr.Pin }} sse-swap="{{ .ID }}" hx-target="#{{.ID }}" {{ end }}> </div>
                            <div {{if .Addr.Pin }} hx-post="/lights/set" hx-include="this" {{ end }}>
                                {{ template "light.gotmpl" .}}
                            </div>
                        </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </table>
            </div>
        </div>
        <div id="right">
            <table>
                {{ range .Right}}
                <tr>
                    {{ range .}}
                    <td>
                        <div {{if .Addr.Pin }} sse-swap="{{ .ID }}" hx-target="#{{.ID }}" {{ end }}> </div>
                        <div {{if .Addr.Pin }} hx-post="/lights/set" hx-include="this" {{ end }}>
                            {{ template "light.gotmpl" .}}
                        </div>
                    </td>
                    {{ end }}
                </tr>
                {{ end }}
            </table>
        </div>
    </div>
</body>

</html>