<table style="width: fit-content;">
<tbody>
{{ range . }}
<tr>
    {{ range . }}
    <td {{if .Addr }}  hx-ext="sse" sse-swap="{{ .ID }}" hx-post="/lights/set" hx-include="this" {{ end }} >
        {{ template "light.gotmpl" .}}
    </td>
  {{end}}
</tr>   
{{ end }}
</tbody>
</table>
